# Annoying files
.DS_Store
.ipynb_checkpoints
Icon

# large data files
basic/output_labels(128).npy

# Install files
install/

# Model saves
*.t7

# Other repo
lua-lua/End-To-End-Generative-Dialogue/

# Annoying text files
slides/main.aux
slides/main.log
slides/main.nav
slides/main.out
slides/main.snm
slides/main.synctex.gz
slides/main.toc