data
basic/output_labels(128).npy
install



stash/slides/main.aux
stash/slides/main.log
stash/slides/main.nav
stash/slides/main.out
stash/slides/main.snm
stash/slides/main.synctex.gz
stash/slides/main.toc